* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f9fc;
  color: #222;
  line-height: 1.6;
}

header {
  padding: 20px;
  font-size: 2.2em;
  display: flex;
  justify-content: space-between;
}

.redirect-button {
  background-color: #3b7e4a;
  color: white;
  border: none;
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

main {
  padding: 20px;
}

.data-hora {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.data-hora p {
  margin: 5px 0;
  color: #444;
}

.highlight-button {
  background-color: #2d6a39;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.highlight-button:hover {
  background-color: #249031;
  transform: translateY(-2px);
}

dialog {
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dialog-fechar {
  color: black;
  border: none;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
}

#dialog-fechar:hover {
  background-color: #ff4a42;
  color: white;
}

#alerta-ponto-registrado {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#register-observation {
  width: 100%;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px 0;
  resize: vertical;
  min-height: 100px;
  font-family: "Arial", sans-serif;
  color: #222;
}

#register-observation:focus {
  border-color: #3b7e4a;
  outline: none;
  box-shadow: 0 0 5px rgba(59, 126, 74, 0.5);
}

#dialog-ultimo-registro {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

footer {
  background-color: #3b7e4a;
  color: white;
  padding: 15px 0;
  text-align: center;
  margin-top: 40px;
}

footer p {
  margin: 0;
  font-size: 1em;
}

label,
select,
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: #222;
}

input,
select {
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1em;
}
