.highlight-button {
  background-color: #9370db;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 1.2em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.highlight-button:hover {
  background-color: #8a2be2;
  transform: translateY(-2px);
}

.outlined-button {
  background-color: transparent;
  color: #9370db;
  border: 2px solid #9370db;
  padding: 8px 12px;
  font-size: 1.2em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.outlined-button:hover {
  background-color: #9370db;
  color: white;
  transform: translateY(-2px);
}

.text-button {
  background-color: transparent;
  color: #9370db;
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.text-button:hover {
  background-color: #9370db65;
}

select,
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: #4b0082;
}

input,
select {
  padding: 12px;
  border: 1px solid #8a2be2;
  border-radius: 5px;
  font-size: 1em;
}
