.highlight-button {
  background-color: #2d6a39;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 1.2em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.highlight-button:hover {
  background-color: #249031;
  transform: translateY(-2px);
}

.outlined-button {
  background-color: transparent;
  color: #2d6a39;
  border: 2px solid #2d6a39;
  padding: 8px 12px;
  font-size: 1.2em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.outlined-button:hover {
  background-color: #2d6a39;
  color: white;
  transform: translateY(-2px);
}

.text-button {
  background-color: transparent;
  color: #2d6a39;
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.text-button:hover {
  background-color: #2d6a39;
  color: white;
  transform: translateY(-2px);
}

label,
select,
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: #222;
}

input,
select {
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1em;
}
